.nav-link.active {
    color: #a88172;
    /* Highlight color for active link */
    font-weight: bold;
}

.hire-button {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hire-button:hover {
    transform: scale(1.05);
    /* Slightly enlarge on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow */
}

.pulse-animation {
    animation: pulse 0.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}