.nav-link.active {
    color: #a88172;
    /* Highlight color for active link */
    font-weight: bold;
}

.hire-button {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hire-button:hover {
    transform: scale(1.05);
    /* Slightly enlarge on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow */
}

.pulse-animation {
    animation: pulse 0.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.heartbeat-icon {
    animation: heartbeat 1.5s infinite ease-in-out;
}

.heartbeat-icon:nth-child(1) {
    animation-delay: 0s;
}

.heartbeat-icon:nth-child(2) {
    animation-delay: 0.3s;
}

.heartbeat-icon:nth-child(3) {
    animation-delay: 0.6s;
}

.heartbeat-icon:nth-child(4) {
    animation-delay: 0.9s;
}

.heartbeat-icon:nth-child(5) {
    animation-delay: 1.2s;

}

.heartbeat-icon:nth-child(6) {
    animation-delay: 1.5s;

}